.login {
  .heading {
    margin-bottom: 30px;
  }
  .content {
  min-height: calc(100vh + 140px) !important;
  }
  .login-row {
    form .name {
      display: flex;
      flex-direction: column;
      p {
        margin: 0px;
        padding-bottom: 5px;
        opacity: .7;
        text-align: left;
        padding-left: 20px;
        span {
          display: none;
        }
      }
      input {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 50px;
        outline: none;
        border: 1px solid #BDBDBD;
        text-indent: 20px;
      }
    }
    .empty-input {
      input {
        border: 1px solid red !important;
      }
      p {
        color: red !important;
        span.empty {
          display: inline-block !important;
        }
      }
    }
    .invalid-address {
      input {
        border: 1px solid red !important;
      }
      p {
        color: red !important;
        span.invalid {
          display: inline-block !important;
        }
      }
    }
  }
  .signup-row{
    height: auto !important;
    display: flex;
    justify-content: center !important;
  }
  .signup-submit {
    margin: 0px;
    button {
      height: auto !important;
      font-size: 1.6rem !important;
      //border-radius: 26px;
    }
  }
}