#login {
  min-height: calc(100vh + 240px) !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .heading {
    margin-bottom: 30px;
  }
  .content {
  min-height: calc(400px) !important;
    background: #fff;
    border-radius: 20px;
    width: 50%;
    margin: 0px auto;
  }
  .adjustment {
    padding: 50px 0 !important;
  }
  .s-header {
    position: relative;
  }
  .login-row {
    form {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .name {
        p {
          margin: 0px;
          padding-bottom: 5px;
          opacity: .7;
          text-align: left;
          padding-left: 20px;
          span {
            display: none;
          }
        }
        input {
          display: block;
          width: 460px;
          height: 50px;
          border-radius: 50px;
          outline: none;
          border: 1px solid #BDBDBD;
          text-indent: 20px;
        }
      }
    }
    .empty-input {
      input {
        border: 1px solid red !important;
      }
      p {
        color: red !important;
        span.empty {
          display: inline-block !important;
        }
      }
    }
    .invalid-address {
      input {
        border: 1px solid red !important;
      }
      p {
        color: red !important;
        span.invalid {
          display: inline-block !important;
        }
      }
    }
  }
  .signup-row{
    height: auto !important;
    display: flex;
    justify-content: center !important;
  }
  .signup-submit {
    margin: 0px;
    button {
      height: auto !important;
      font-size: 1.6rem !important;
      color: #c5c5c5;
      //border-radius: 26px;
    }
    button:hover {
      color: #000;
    }
  }
}

@media only screen and (max-width: 450px){
  #login{
    .adjustment{
      width: 90%;
    }

    .login-row
    {
      form{
        .name{
          width: 90%;
          margin: 0px auto;
          input{
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px){
  #login{
    .adjustment{
      width: 80%;
    }

    .login-row
    {
      form{
        .name{
          width: 90%;
          margin: 0px auto;
          input{
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 780px){
  #login{
    .adjustment{
      width: 70%;
    }

    .login-row
    {
      form{
        .name{
          width: 90%;
          margin: 0px auto;
          input{
            width: 100%;
          }
        }
      }
    }
  }
}